* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
    background-image: url("back.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.layout {
    display: flex;
    gap: 10px;
}

form,
section {
    background: #ffffff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5%;
    width: 50%;
    gap: 10px;
}

.field {
    margin-bottom: 10px;
}

label {
    display: block;
}

.filters {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}

input,
select,
textarea {
    background-color: hsla(128, 48%, 65%, 0.277);
    width: 100%;
    padding: 6px;
}

.invalid {
    border-color: red;
}

.error-text {
    color: red;
    font-size: 12px;
    min-height: 14px;
}

button {
    border-radius: 50px;
    border: 2px solid #2d6a31;
    background-color: white;
    padding: 5px 15px;
    color: #2d6a31;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    display: block;
    margin: 10px auto;
}

button:hover {
    background-color: #2d6a31;
    color: white;
    transition: 0.3s;
}

.hidden {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ffffff;
    padding: 6px;
    background-color: hsla(128, 48%, 65%, 0.277);
}