* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: hwb(138 12% 66% / 0.497);
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.layout {
    display: flex;
}

form,
section {
    background: #ffffff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5%;
    width: 50%;
}

.field {
    margin-bottom: 10px;
}

label {
    display: block;
}

.filters {
    display: flex;
    margin-bottom: 10px;
}

input,
select,
textarea {
    background-color: hsla(128, 48%, 65%, 0.277);
    width: 100%;
    padding: 6px;
}

.invalid {
    border-color: red;
}

.error-text {
    color: red;
    font-size: 12px;
    min-height: 14px;
}

.buttons {
    display: flex;
    color: hsla(128, 48%, 65%, 0.277);
    justify-content: center;
    height: 30px;
}

.hidden {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ffffff;
    padding: 6px;
    background-color: hsla(128, 48%, 65%, 0.277);
}